/*général : changement de couleur sur le lien au passage de la souris*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

@media only screen and (max-width: 880px){
    body{background-color: chartreuse;}
}

/*paramètres de survol des liens du site*/


/*paramètres des infos dans le corps du site*/
body
{
  background-color: white; /*couleur de fond*/
  font-family: 'Raleway';    /*police*/
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column; 
}


/*paramètres des éléments dans le header*/

header{
    
    max-width: 100%;
    max-height: auto;
    padding: 0;

    margin-bottom: 15px;
    order: 1; 
}

        .menu{

            width: 100%;
            height: 66px;
            line-height: 66px;
        }

        .link_main a:hover{
            border-top: 1px solid #0065FC;
            padding: 30px;
        }
        .logo{ /*redimmensionnement du logo en conservant les proportions*/
            
            max-width: 100%;
            height: auto;
            padding: 0; margin: 0;
            float: left;


        }

        .link_main{
            text-decoration: none;
         
            padding: 0; 
            margin: 0;
            
            float: right;
            max-width: 100%;

            }

        .link{
            text-decoration: none;
            color: #0065FC;
            font-weight: 500;
            padding: 15px;

        }
/* Section 1 du site*/
#section_1{
    order: 2;
    max-width: 100%;
    background-color: white;
    margin-bottom: 15px;
    width: 100%;
}


.search_form{
    
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.fa-map-marker-alt{
    margin: 0;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}
.name_city{
    max-width: 100%;
    margin: 0;    
}

input{
    padding: 10px;
}

.search_city{
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0;
    padding: 9px;
}

.search-filters{
    
    font-size: 12px;
    max-width: 100%;
    height: auto;  
    margin-right: 5px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.filter{
    background-color: white;
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
    padding-right: 15px;

}


.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog
{
    max-width: 100%;
    margin-right: 0.5rem;
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    border-width: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 15px;
}
.text_filter{
    font-weight: 900;
}
.filter :hover{
    background-color: blue; 

}

.comment_search{
    margin: 2px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.fa-info-circle{
    margin: 0;
    background-color: white;
    padding: 5px;
}


.fa-star{
    color: #0065FC;
    font-size: 10px;
}



/*Section 2 : bloc hebergements et populaires*/
#section_2{
    max-width: 100%;
    order : 3;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
        /*Zone de texte commnune hebergements et populaires : nom, prix, evaluation*/
        .hotel_name{
        max-width: 100%;
        margin: 0.5rem;
        font-weight: 700;                                                
        }
        .hotel_price{
           
        max-width: 100%;
        margin: 0.5rem;
        }
        .hotel_evaluation{
           
            max-width: 100%;
            margin: 0;
            padding:1px;
            display: flex;
            flex-direction: row;
       }
       /*Zone de texte populaires : nom, prix, evaluation*/
       .hotel_name_populaires{
        max-width: auto;
        max-height: 100%;
        margin: 0.5rem;
        font-weight: 700;                                                
        }
        .hotel_price_populaires{
           
        max-width: auto;
        max-height: 100%;
        margin: 0.5rem;
        }
        .hotel_evaluation_populaires{
           
            max-width: auto;
            max-height: 100%;
            margin-left: 10px;
            padding:1px;
            display: flex;
            flex-direction: row;
       }
       


            /*bloc hebergements*/
            .bloc_hergements{
                width: 70%;
               background-color: #F2F2F2;
                margin:2px;
                padding: 0;
                border: 1px solid #F2F2F2;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: space-around;
               
            }
            .bloc_texte_hebergements{
               
                max-width: 100%;
                margin: 5px;
                padding: 0;
              
            }
            .bloc_hotel_description_hebergements{
               
                max-width: 100%;
                margin: 1px;
                padding: 1px;
                
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around ;
            }
         
            .bloc_description_detail_hebergements{
                background-color: white;
                width: 30%;
                margin: 5px;
                padding: 1px;
                border: 1px solid white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
          


            .image_hebergement{
                margin: 5px;
                border: 1px solid white;
                border-top-left-radius: 20px; 
                border-top-right-radius: 20px;
                max-width: 100%;
                height: 8em;
                object-fit: cover;
            }

            .bloc_texte_detail_hebergements{
            margin: 2px;
            padding: 0;
            display: flex;
            flex-direction: column;

            }

            /*bloc populaires*/
            .bloc_populaires{
                max-width: 30%;
                background-color: #F2F2F2;
                margin: 5px;
                padding: 1px;
                display: flex;
                flex-direction: column;
                border: 1px solid #F2F2F2;
                border-radius: 20px;
            }
            .bloc_texte_haut_populaire{
            
            max-width: 100%;
            margin: 2px;
            padding: 1px;
            
            }


            

            .bloc_description_article_populaires{
            background-color: white;
                max-width: 100%;
                margin: 10px;
                padding: 1px;
                border: 1px solid white;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
               

            }

            .image_element_populaire{                                                                       
            
                border: 1px solid white;
                border-top-left-radius: 20px; 
                border-bottom-left-radius: 20px;
                width: 40%;
                height: 10em;
                object-fit: cover;
            }


            .bloc_detail_populaires{
                background-color: white;
                width: 60%;
                margin: 2px;
                padding: 1px;
                display: flex;
                flex-direction: column;
            }

/*section 3 : les activités*/
#section_3{
    order: 4;
  
    margin-bottom: 5px;
}
.bloc_activity{   
    width: 100%;
    height: auto;
   
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
        .texte_bloc_activity{
            
            max-width: 100%;
            margin: 5px;
        }    
                .bloc_principal_article{
                   
                    max-width: 100%;
                    margin: 0px;
                    display: flex;
                    flex-direction: row;
                    
                }
                        .bloc_1_article_activity{
                            background-color: white;
                            width: 25%;
                            margin-right: 30px;
                            margin-bottom: 10px;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #F2F2F2;
                            border-radius: 20px;
                           

                        }
                                .image_bloc_1_article_activity{
                                    
                                    max-width: 100%;
                                    height: 100%;
                                    margin: 0;
                                    object-fit: cover;
                                    border: 1px solid #F2F2F2;
                                    border-top-left-radius: 20px;
                                    border-top-right-radius: 20px;
                                }






                                .texte_image{
                                    
                                    max-width: 100%;
                                    margin: 5px;
                                    font-weight: 700;

                                }
                        .bloc_2_article_activity{
                           
                            width: 25%;
                            margin-right: 30px;
                            
                            display: flex;
                            flex-direction: column;
                            align-items: space-between;
                        }
                                .bloc_2_article_1{
                                    background-color: white;
                                    max-width: auto;
                                    margin-bottom: 30px;
                                    display: flex;
                                    flex-direction: column;
                                    border: 1px solid #F2F2F2;
                                    border-radius: 15px;
                                }
                                        .image_bloc_2_article_1_activity{
                                            
                                            max-width: 100%;
                                            height: 10em;
                                            margin: 0;
                                            object-fit: cover;
                                            border: 1px solid #F2F2F2;
                                            border-top-left-radius: 20px;
                                            border-top-right-radius: 20px;
                                        }

                                .bloc_2_article_2{
                                    background-color: white;
                                    max-width: auto;
                                    margin-top: 15px;
                                    display: flex;
                                    flex-direction: column;
                                    border: 1px solid #F2F2F2;
                                    border-radius: 15px;
                                }
                                        .image_bloc_2_article_2_activity{
                                         
                                            max-width: 100%;
                                            height: 10em;
                                            margin: 0;
                                            object-fit: cover;
                                            border: 1px solid #F2F2F2;
                                            border-top-left-radius: 20px;
                                            border-top-right-radius: 20px;
                                        }

                        .bloc_3_article_activity{
                            background-color: white;
                            max-width: 25%;
                            max-height: auto;
                            margin-right: 30px;
                            margin-bottom: 10px;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #F2F2F2;
                            border-radius: 20px;
                        }
                                                .image_bloc_3_article_activity{
                                                   
                                                    max-width: 100%;
                                                    height: 100%;
                                                    margin: 0;
                                                    object-fit: cover;
                                                    border: 1px solid #F2F2F2;
                                                    border-top-left-radius: 20px;
                                                    border-top-right-radius: 20px;
                                                }

                        .bloc_4_article_activity{
                           
                            width: 25%;
                            margin: 5px;
                            padding: 5px;
                            display: flex;
                            flex-direction: column;
                            
                            
                        }
                                                .bloc_4_article_1{
                                                    background-color: white;
                                                    max-width: 100%;
                                                    margin: 0;
                                                    display: flex;
                                                    flex-direction: column;
                                                    border: 1px solid #F2F2F2;
                                                    border-radius: 20px;
                                                    margin-bottom: 20px;
                                                }
                                                        .image_bloc_4_article_1_activity{
                                                          
                                                            max-width: 100%;
                                                            height: 10em;
                                                            margin: 0;
                                                            object-fit: cover;
                                                            border: 1px solid #F2F2F2;
                                                            border-top-left-radius: 20px;
                                                            border-top-right-radius: 20px;
                                                        }
                
                                                .bloc_4_article_2{
                                                    background-color: white;
                                                    max-width: 100%;
                                                    margin-top: 20px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    
                                                    border: 1px solid #F2F2F2;
                                                    border-radius: 20px;
                                                }
                                                        .image_bloc_4_article_2_activity{
                                                     
                                                            max-width: 100%;
                                                            height: 10em;
                                                            margin: 0;
                                                            object-fit: cover;
                                                            border: 1px solid #F2F2F2;
                                                            border-top-left-radius: 20px;
                                                            border-top-right-radius: 20px;
                                                        }



/*mise en forme du footer*/
footer{
    order: 5;
    background-color:#F2F2F2;  
}


.contenu_footer
{
    width: 100%;
    Margin: 0 auto;
    padding: 10px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: flex-start;
    font-size: 15px;
}

.bloc_a_propos,
.bloc_hebergements,
.bloc_assistance{
    width: 30%;
    margin: 0;
    padding: 0;
 
}

/*h3 de chaque bloc du footer*/
.bloc_a_propos h3,
.bloc_hebergements h3,
.bloc_assistance h3{
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 15px;

}
.liste_a_propos,
.liste_hebergements,
.liste_assistance{
    list-style-type: none;
    margin-left: 0rem;
    padding: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;

}
.liste_a_propos ul,
.liste_hebergements ul,
.liste_assistance ul{
    margin-block-start: 0px;


}

.liste_a_propos li,
.liste_hebergements li,
.liste_assistance li{
    padding: 5px 0; /*2px en haut et en bas et 0px à gauche et à droite*/
}
.liste_a_propos a,
.liste_hebergements a,
.liste_assistance a{
text-decoration: none;
color: grey;
}