@media screen and (max-width: 650px)
{
   body{
       margin: 0;
       width: 100%;
   }
    #bloc_page{
        width: 100%;
        margin: 0;
    }

    header, 
    #section_1,
    #section_2,
    #section_3,
    footer{
        width: 100%;
        margin: auto;
    }

    #header_big_media{
        display: none;
    }

    #header_small_media{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    /*header petit média*/
	#nav_head1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }

    #nav_head2{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2em 0 0 0;
    }

    .hebergement_link,
    .activity_link{
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        width: 50%;
        text-align: center;
    }

    .link:hover{
        border-top: none;
    }
   
    .hebergement_link:hover,
    .activity_link:hover{
        border-bottom: 2px solid #0065FC;    
    }

    .hebergement_link a:hover,
    .activity_link a:hover{
        color: #0065FC; 
    }

    /*zone de filtre*/
    .filters .filter_title{
        margin-left: 1em;
    }

    .filters .text_filter{
        margin-bottom: 0.8em;
    }

    /*bloc hébergements*/
.bloc_hebergements_populaires{
    width: 100%;
    margin: 0 0 1em 0;
}
    .bloc_hebergements{
        max-width: 100%;
        margin: 0;
 
    }
  

    .bloc_hebergements .bloc_contenu_hebergements{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .bloc_hebergements .bloc_description_detail_hebergements{
        width: 100%;
        margin: 0 0 0.5em 0;
    }
    
    .bloc_hebergements .bloc_texte_hebergements{
        justify-content: left;
        max-width: 100%;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    /*bloc populaires*/
    .bloc_hebergements_populaires .bloc_populaires{
        max-width: 100%;
        margin: 0 0 1em 0;
    }

    .bloc_populaires .bloc_contenu_populaires{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        width: 100%;
        
        padding: 0;
    }

    .bloc_populaires .bloc_texte_haut_populaire{
        max-width: 100%;
        margin: 0.5em 1em 0 0.7em;
    }

    .bloc_populaires .bloc_description_article_populaires{
        width: 100%;
        margin: 0;
    
    }
    .bloc_populaires .bloc_detail_populaires{
        max-width: 35%;
    }

    /*bloc activtés*/
    .bloc_activity{
        max-width: 100%;
        margin: 0 0 1em 0;
        display: flex;
        flex-direction: column;
    }

    .texte_bloc_activity{
        width: 100%;
    }

    .bloc_principal_article_activities{
        width: 100%;
        font-size: 12px;
        flex-wrap: wrap;
    }
    
    .bloc_1_article_activity,
    .bloc_2_article_activity,
    .bloc_3_article_activity,
    .bloc_4_article_activity{
        width: 100%;
        margin: 0;
    }

     .image_bloc_1_article_activity,
     .image_bloc_3_article_activity{
        width: 70em;
        height: 12em;
    }

    /*footer*/
   .contenu_footer{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        font-size: small;
        margin: 0;
    }

}






                    






















