@media all and (max-device-width: 650px)

{
body{
background-color: rgb(0, 255, 64);
margin: auto;
}

/*désactivation de l'affichage du formulaire et média pour les grands écrans*/
.search_form form, #big_media{ 
    display: none;
}


/*bloc menu adpaté pour les petits médias*/
#small_media{ /*header small_media*/

display: flex;
flex-direction: column;
}






/*bloc navigation :inscription, hebergements et activités*/
#nav_head1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav_head2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;
}

/*bloc populaires*/
    .bloc_populaires{
 flex-direction: column; 
margin: 1px;
width: 100%;
    
    }

    .bloc_texte_haut_populaire{
        width: 90%;
  
        margin: 1px;
        justify-content: space-between;
        align-self: flex-start;
    }


    .bloc_description_article_populaires{
        width: 90%;
   flex-direction: row;
        flex-wrap: nowrap;
       justify-content: flex-start;
    }


   .contenu_footer{
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: small;
    }

   .bloc_hotel_description_hebergements{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .bloc_description_detail_hebergements{
    
        width: 100%;
    }
    .bloc_principal_article_activities{
        background-color: black;
    max-width: 100%;
    flex-direction: column;
    margin: 5px 1px;
    }

.bloc_1_article_activity,
.bloc_2_article_activity,
.bloc_3_article_activity,
.bloc_4_article_activity{
        width: 95%;
        object-fit: cover;
 
}


}






                    






















