/*  lien vers la police du site  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

body{
    font-family: 'Raleway';    /*police*/
    margin: 0;
    padding: 0;
}

/*mise en forme du header*/
header{
    max-width: 1460px;
    margin: auto;
}

/*paramètres généraux*/
header #big_media{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    order: 1; 
}

/*paramètres des infos dans le corps du site*/
#bloc_page{
    max-width: 1460px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column; 
}

/*désactivation du formumaire de recherche et header petit média*/
.search_form_small_media form,
#header_small_media{ 
    display: none;
}

    
/*css du menu lien et logo en haut logo à gauche et lien à droite*/
.menu{
    width: 100%;
    height: 66px;
    line-height: 66px;
    display: flex;
    justify-content: space-between;
}

    /*logo en haut à gauche*/
.logo{ 
    max-width: 100%;
    height: auto;
    padding: 0; margin: 0;
} 

/*bloc de liens*/
.header_link{
    display: flex;
    flex-direction: row;
    
}

/*mise en forme des liens*/
.link{
    text-decoration: none;
   color: black;
    font-weight: 500;
    padding-top: 21px;
    padding-left: 15px;
    margin: 0;
    font-size: 16px;
}

.link_subscription .link{
    color: #0065FC;
    font-weight: 700;
}

/*animation au survol de la souris sur les liens du menu*/
.link_navigation a:hover,
.link_subscription a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* Section 1 du site : zone de recherche: mise en forme*/
#section_1{
    order: 2;
    width: 100%;
    margin-bottom: 15px;
}

        /*formulaire de recherche*/
/*formualire de recherche pour média normal*/
.search_form form{
    font-size: 12px;
    max-width: 100%;
    height: 3em; 
    margin-bottom: 2em;
    padding: 0;
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
    align-items: center;
}

/*mise en forme icone et zone de recherche*/
.search_form .fas{
    background-color: #F2F2F2;
    border: 0 solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 3em;
    height: 2.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px;
}

.search_form .fa{
    border: 0 solid ;
    border-radius: 10px;
    width: 3em;
    height: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_form input{
    height: 2em;
    border: none;
}

.search_form .submit{
    color: white;
    font-size: 16px;
    background-color: #0065FC;
    width: 6.5em;
    height: 2.4em;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input_search{
    background-color:white;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 2.6em;
    padding: 2px;
}

/*zone de filtres*/
.filters{

    font-size: 12px;
    max-width: 100%;
    height: auto;  
    margin-right: 5px;
    margin-bottom: 1.5em;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.text_filter{
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
    padding-right: 15px;
    height: 3.8em;
}

.text_filter:hover{
    background-color: #DEEBFF;
    cursor: cell;
}

.text_filter a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog
{
    width: 1em;
    height: 1em;
    margin-right: 0.5rem;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    border-width: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 16px;
    text-align: center;
}

/*information du résultat de la recherche*/
.comment_search{
    margin: 2px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.fa-info{
    margin-right: 5px;
    background-color: white;
    border: 1px solid #F2F2F2;
    width: 10px;
    border-radius: 30px;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    color: #0065FC;
}


/*Section 2 : bloc hebergements et populaires*/
#section_2{                
    order : 3;
}

.bloc_hebergements_populaires{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px
}

/*bloc hebergements*/
.bloc_hebergements_populaires .bloc_hebergements{
    width: 70%;
    background-color: #F2F2F2;
   margin: 0 1.5em 0 0;
    padding: 0;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.bloc_hebergements_populaires .bloc_texte_hebergements{
    max-width: 100%;
    margin: 0 0 0 3em;
    padding: 0;
}

.bloc_contenu_hebergements{                                       
    max-width: 100%;
    margin: 0.5em;
    padding: 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.bloc_contenu_hebergements a{
    text-decoration: none;
}

.bloc_description_detail_hebergements{
    background-color: white;
    width: 28%;
    margin: 1em;
    padding: 2px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image_hebergement{
    margin: 0;
    border: 1px solid white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    width: 100%;
    height: 8em;
    object-fit: cover;
}
.bloc_texte_detail_hebergements{   
    background-color: white;                       
    margin: 0 0.5em;
    padding: 0;
    display: flex;
    flex-direction: column;        
}

.bloc_hebergements .hotel_name{
    margin: 0 0 0 2px;
    font-weight: 600;
    padding: 0;                                                
}

.bloc_hebergements .hotel_price{
    margin: 2px;
}

.bloc_hebergements .hotel_name,
.bloc_hebergements .hotel_price{
    font-size: 14px;
    color: black; 
}

.bloc_hebergements .hotel_price span{
    font-weight: 600;
}

.bloc_hebergements .hotel_evaluation{
    max-width: 100%;
    margin:1px 0 2px 2px;
    padding:0;
    display: flex;
    flex-direction: row;
}

.hotel_evaluation .color{
    color: #0065FC;
}

.hotel_evaluation .no_color{
    color: rgb(212, 208, 208);
}

.hotel_evaluation .color,
.hotel_evaluation .no_color{
    font-size: 12px;
}

/*bloc populaires*/
.bloc_hebergements_populaires .bloc_populaires{
    width: 28%; 
    background-color: #F2F2F2;
    margin: 0;
    padding: 0px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.bloc_texte_haut_populaire{                        
    max-width: 100%;
    margin: 0 1.3em 0 1em;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;                        
}

.bloc_contenu_populaires{
    max-width: 100%;
    margin: 0.5em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloc_contenu_populaires a{
    text-decoration: none;
}

.bloc_description_article_populaires{
background-color: white;
    max-width: 100%;
    margin: 1em;
    padding: 2px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;                 
}

.image_element_populaire{                                                                                               
    border: 1px solid white;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    width: 7.5em;
    height: 7.5em;
    object-fit: cover;
}

.bloc_detail_populaires{
    background-color: white;
    margin: 0 0.5em;
    padding: 0;
    display: flex;
    flex-direction: column;
}
    
.hotel_evaluation_populaires .color{
    color: #0065FC;
}

.hotel_evaluation_populaires .no_color{
    color: rgb(212, 208, 208);
}

.hotel_evaluation_populaires .color,
.hotel_evaluation_populaires .no_color{
 font-size: 12px;
}

.hotel_name_populaires{
    margin: 0.5em 0 0.5em 0.5em;
    font-weight: 700;
}

.hotel_price_populaires{
    max-height: 100%;
    margin: 0 0 0 0.5em;
}

.hotel_name_populaires,
.hotel_price_populaires{
    font-size: 14px;
    color: black; 
}

.bloc_populaires .hotel_price_populaires span{
    font-weight: 600;
} 

.hotel_evaluation_populaires{        
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 0 0.5em;
    padding:1px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
    
/*section 3 : bloc sur les activités*/
#section_3{
    order: 4; 
}

.bloc_activity{   
    width: 100%;
    height: 80%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texte_bloc_activity{
    max-width: 100%;
    margin: 5px;
}    

.bloc_principal_article_activities{                   
    max-width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;                       
}

.bloc_1_article_activity{
    background-color: white;
    width: 25%;
    height: 31.5em;
    margin-right: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.image_bloc_1_article_activity{                                                
    max-width: 100%;
    height: 28.5em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.texte_image_activity{                                                
    max-width: 100%;
    margin: 5px;
    padding: 0.5em;
    font-weight: 700;
}
                        
.bloc_2_article_activity{
    width: 25%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.bloc_2_article_1{
    background-color: white;
   
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.image_bloc_2_article_1_activity{ 
    width: 100%;
    height: 12em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_2_article_2{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.image_bloc_2_article_2_activity{
    width: 100%;
    height: 11em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_3_article_activity{
    background-color: white;
    width: 25%;
    height: 31.5em;    
    margin-right: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.image_bloc_3_article_activity{
    max-width: 100%;
    height: 28em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_4_article_activity{                         
    width: 25%;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;                               
}

.bloc_4_article_1{
    background-color: white;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-bottom: 10px;
}

.image_bloc_4_article_1_activity{   
    width: 100%;
    height: 11em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloc_4_article_2{
    background-color: white;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.image_bloc_4_article_2_activity{
    width: 100%;
    height: 11.5em;
    margin: 0;
    object-fit: cover;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*mise en forme du footer*/
footer{
    order: 5;
    width: 100%;
    background-color:#F2F2F2;
    margin: 0;
    padding: 0; 
}

.contenu_footer{
    max-width: 1460px;
    margin: auto;              
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    font-size: 15px;
}

.footer_bloc_a_propos,
.footer_bloc_hebergements,
.footer_bloc_assistance{
    width: 40%;
    margin: 0;
    padding: 0;
}

/*h3 de chaque bloc du footer*/
.footer_bloc_a_propos h3,
.footer_bloc_hebergements h3,
.footer_bloc_assistance h3{
    font-size: 15px;
    padding-bottom: 5px;
    margin-left: 0;
}

.liste_a_propos,
.liste_hebergements,
.liste_assistance{
    list-style-type: none;
    margin-left: 0rem;
    padding: 0px;

}

.liste_a_propos ul,
.liste_hebergements ul,
.liste_assistance ul{
    margin: 0px;
}

.liste_a_propos li,
.liste_hebergements li,
.liste_assistance li{
    padding: 5px 0; 
}

.liste_a_propos a,
.liste_hebergements a,
.liste_assistance a{
text-decoration: none;
color: grey;
padding-left: 0;
}

li a:hover{
    color: #0065FC;
}

         