@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
/*adaptation du site à tout type de média dont l'écran est inférieur à 1024px*/
@media all and (max-device-width: 1400px)
{
    body{
background-color: yellow;
}

 


    .search_form_small_media form,
    #small_media 
    { 
    display: none;
    }

    #bloc_page{
        width:auto;
        font-size: small;
    }
    header{
        order: 1;
    }
    #section_1{
        order: 2;
        flex-direction: column;
    }
    
    
    #section_2{
        flex-direction: column;
    }
    .bloc_populaires{
  
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    }
    .bloc_texte_haut_populaire{
       width: 100%;
        display: flex;
        align-self: flex-start;
        margin: 0 10px;
    }
    .bloc_description_article_populaires{
        width: 30%;
    }

    .bloc_hebergements{
        order:4;
       width: 100%;
    }
    .bloc_description_detail_hebergements{
        flex-direction: column;
        width: 100%;
    }
    
    .bloc_principal_article_activities{
    width: 100%;
    flex-direction: column;
    margin: 5px 1px;
    }

    .bloc_1_article_activity,
    .bloc_2_article_activity,
    .bloc_3_article_activity,
    .bloc_4_article_activity{
        width: 100%;
        height: auto;
        margin: 5px 0;
    }
    .image_bloc_1_article_activity,
    .image_bloc_3_article_activity{
        width: 100%;
        height: 11em;
    }
      .contenu_footer{
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: small;
    }
    .footer_bloc_a_propos, .footer_bloc_hebergements, .footer_bloc_assistance{
        width: 100%;
    
    }



/*champ de recherche*/

}